.listItem {
  padding: 0;
  display: flex;
  align-items: center;
  height: 44px;
  overflow: hidden;
  width: fit-content;

  a {
    text-decoration: none;
    position: relative;
    font-weight: 00;
    font-size: 16px;
    line-height: 16px;
    text-align: justify;

    .inner {
      // height: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      .normal {
        transition: transform 0.4s cubic-bezier(0.5, 0.7, 0.4, 1);
      }

      .hover {
        transform: translateY(100px);
        transition: transform 0.4s cubic-bezier(0.5, 0.7, 0.4, 1);
      }
    }
  }

  &:hover {
    cursor: pointer;
    a {
      .inner {
        .normal {
          transform: translateY(-20px);
        }

        .hover {
          transform: translateY(-16px);
        }
      }
    }
  }
}

.listItem:hover {
  a::after {
    transition: transform 0.4s cubic-bezier(0.5, 0.7, 0.4, 1);
    transform: translateX(0);
  }
}

.active {
  a {
    height: 30px;
    border-bottom: 2px solid #ffffff;
  }
}

.variant {
  a {
    border-bottom: 2px solid #000000;
  }
}
